examples/ping.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="http://zedstar.org/xml/schema/packedobjectsDataTypes.xsd"/>
  <xs:element name="pingpong">
    <xs:complexType>
      <xs:choice>
        <xs:element name="ping" type="null" />
        <xs:element name="pong" type="null" />
      </xs:choice>
    </xs:complexType>
  </xs:element>
</xs:schema>

