schema/packedobjectsDataTypes.xsd

<?xml version="1.0" ?>

<!-- Pre-defined simple data types, Please do not modify -->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:simpleType name="integer">
    <xs:restriction base="xs:integer">
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="boolean">
    <xs:restriction base="xs:boolean">
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="numeric-string">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]*"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="hex-string">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9a-fA-F]*"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="bit-string">
    <xs:restriction base="xs:string">
      <xs:pattern value="[10]*"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="string">
    <xs:restriction base="xs:string">
      <xs:pattern value="\p{IsBasicLatin}*"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="octet-string">
    <xs:restriction base="xs:string">
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="null">
    <xs:restriction base="xs:string">
      <xs:length value="0"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="enumerated">
    <xs:restriction base="xs:token">
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="decimal">
    <xs:restriction base="xs:decimal">
    </xs:restriction>
  </xs:simpleType>  

  <xs:simpleType name="currency">
    <xs:restriction base="xs:decimal">
      <xs:pattern value="\d+.\d{2}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ipv4-address">
    <xs:restriction base="xs:string">
      <xs:pattern value="(([1-9]|1[0-9]{1,2}|2([0-1][0-9]?|2[0-3]?|[0-9])|[3-9][0-9]))(\.([0-9]|1[0-9]{1,2}|2([0-4][0-9]?|5[0-5]?|[0-9])?|[3-9][0-9])){3}"/>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="unix-time">
    <xs:restriction base="xs:string">
      <xs:pattern value="(19|20)\d\d-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([0-1][0-9]|[2][0-3]):([0-5][0-9]):([0-5][0-9])([-+]((0[0-9]|1[0-3]):([03]0|45)|14:00)|Z)"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="utf8-string">
    <xs:restriction base="xs:string">
    </xs:restriction>
  </xs:simpleType>  
  
</xs:schema>
